@import '../../../@theme/styles/themes';

.header-title {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    .header-input {
        width: calc(80% + 10px);
    }
    .input-panel {
        width: calc(33% - 10px);
        margin: 5px 10px 5px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .input-panel:last-child {
        margin-right: 0;
    }
}

.row-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .select-width{
        width: 48%!important;
    }
}

.header-btn {
    display: inline-flex;
    justify-content: flex-end;
    align-items: flex-end;
    button {
        color: #fff;
        padding: .6875rem 1.125rem;
        border-style: solid;
        border-width: .0625rem;
        border-radius: .25rem;
        font-size: .875rem;
        line-height: 1rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        outline: none;
    }
    .search {
        background-color: #00d68f;
        border-color: #00d68f;
    }
    .export {
        margin-left: 10px;
        background-color: #598bff;
        border-color: #598bff;
    }
    .add{
        margin-left: 10px;
        background-color: #fa0;
        border-color: #fa0;
    }
}

.address{
    width: 15rem;
    word-break: break-word;
}

.deviceCode{
    width: 20rem;
    word-break: break-word;
}

.bag-city{
    width: 10rem;
    word-break: break-word;
}

.operator{
    width: 9rem!important;
    display: flex;
    justify-content: flex-start;
    padding: .75rem 1px;
    span{
        padding: 1px 4px;
        color: white;
        cursor: pointer;
        font-size: .8rem;
        text-align: center;
        display: inline-block;
        border-radius: 2px;
        background-color: #409eff;
        border-color: #409eff;
        margin: 0 1px;
    }
}
