@import '../../../@theme/styles/themes';

.list-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .input-panel {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        input[type=text]{
            height: 50px;
            width: 80%;
            border: 1px solid #edf1f7;
            background-color: #f7f9fc;
            padding-left: 10px;
            margin: 15px 0;
        }
    }
    .input-panel:first-child {
        margin-left: 0;
    }
}

.footer-box{
    .sure:disabled{
        background-color: #5dbe9e;
        border-color: #5dbe9e;
    }
}



