<nb-card>
    <nb-card-header>
        正在建立一个新的角色...
    </nb-card-header>

    <nb-card-body>
        <div class="role-body">
            <div class="edit-body">
                <div class="row">
                    <div class="role-panel">
                        <span class="row-name">角色名</span>
                        <div class="row-input">
                            <input type="text"
                                   [(ngModel)]="roleName"
                                   placeholder="输入角色名">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="role-panel">
                        <span class="row-name auth-choose">权限选择</span>
                        <div class="row-list-panel">
                            <div class="row row-item" *ngFor="let role of roleArray;let i=index">
                                <div class="row-name">
                                    <label for="authority{{i}}">{{role.name}}</label>
                                    <input type="checkbox"
                                           id=authority{{i}}
                                           [checked]=role.isShow
                                           (change)="selectRole($event, role)"
                                           class="check-box">
                                </div>
                                <div class="row-list-box">
                                    <div class="row-checkbox" *ngFor="let roleCh of role.children">
                                        <label>{{roleCh.name}}</label>
                                        <input type="checkbox"
                                               [checked]=role.isShow
                                               id="{{role.resourceKey}}"
                                               (change)="selectRoleItem($event, roleCh, role)"
                                               class="check-box">
                                    </div>
                                    <!--<div class="row-checkbox">
                                        <label for="add-role">角色新增</label>
                                        <input type="checkbox" id="add-role" class="check-box">
                                    </div>
                                    <div class="row-checkbox">
                                        <label for="add-user">用户新增</label>
                                        <input type="checkbox" id="add-user" class="check-box">
                                    </div>-->
                                </div>
                            </div>
                           <!-- <div class="row row-item">
                                <div class="row-name">
                                    <label for="finance-manage">财务管理</label>
                                    <input type="checkbox" id="finance-manage" class="check-box">
                                </div>
                                <div class="row-list-box">
                                    <div class="row-checkbox">
                                        <label for="make-money">打款</label>
                                        <input type="checkbox" id="make-money" class="check-box">
                                    </div>
                                    <div class="row-checkbox">
                                        <label for="make-money-history">打款历史</label>
                                        <input type="checkbox" id="make-money-history" class="check-box">
                                    </div>
                                </div>
                            </div>
                            <div class="row row-item">
                                <div class="row-name">
                                    <label for="operation-manage">运营管理</label>
                                    <input type="checkbox" id="operation-manage" class="check-box">
                                </div>
                                <div class="row-list-box">
                                    <div class="row-checkbox">
                                        <label for="agent-manage">代理商管理</label>
                                        <input type="checkbox" id="agent-manage" class="check-box">
                                    </div>
                                    <div class="row-checkbox">
                                        <label for="device-manage">设备管理</label>
                                        <input type="checkbox" id="device-manage" class="check-box">
                                    </div>
                                    <div class="row-checkbox">
                                        <label for="c-client">C端用户管理</label>
                                        <input type="checkbox" id="c-client" class="check-box">
                                    </div>
                                    <div class="row-checkbox">
                                        <label for="order">订单</label>
                                        <input type="checkbox" id="order" class="check-box">
                                    </div>
                                    &lt;!&ndash;<div class="row-checkbox">&ndash;&gt;
                                        &lt;!&ndash;<label for="add-agent">新增代理商</label>&ndash;&gt;
                                        &lt;!&ndash;<input type="checkbox" id="add-agent" class="check-box">&ndash;&gt;
                                    &lt;!&ndash;</div>&ndash;&gt;
                                    &lt;!&ndash;<div class="row-checkbox">&ndash;&gt;
                                        &lt;!&ndash;<label for="add-device">新增设备</label>&ndash;&gt;
                                        &lt;!&ndash;<input type="checkbox" id="add-device" class="check-box">&ndash;&gt;
                                    &lt;!&ndash;</div>&ndash;&gt;
                                </div>
                            </div>
                            <div class="row row-item">
                                <div class="row-name">
                                    <label for="purchase-order">采购订单管理</label>
                                    <input type="checkbox" id="purchase-order" class="check-box">
                                </div>
                                <div class="row-list-box">
                                    <div class="row-checkbox">
                                        <label for="order-info">订单信息</label>
                                        <input type="checkbox" id="order-info" class="check-box">
                                    </div>
                                    <div class="row-checkbox">
                                        <label for="order-history">订单历史</label>
                                        <input type="checkbox" id="order-history" class="check-box">
                                    </div>
                                </div>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <div class="footer-box">
            <button class="sure" (click)="addRole()">新增</button>
        </div>
    </nb-card-footer>
</nb-card>
