<nb-card>
    <nb-card-header>
        正在建立一个新的角色...
    </nb-card-header>

    <nb-card-body>
        <div class="role-body">
            <div class="edit-body">
                <div class="row">
                    <div class="role-panel">
                        <span class="row-name">角色名</span>
                        <div class="row-input">
                            <input type="text"
                                   [(ngModel)]="roleName"
                                   placeholder="输入角色名">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="role-panel">
                        <span class="row-name auth-choose">权限选择</span>
                        <div class="row-list-panel">
                            <div class="row row-item" *ngFor="let role of roleArray;let i=index">
                                <div class="row-name">
                                    <label for="authority{{i}}">{{role.name}}</label>
                                    <input type="checkbox"
                                           id=authority{{i}}
                                           [checked]=role.isShow
                                           (change)="selectRole($event, role)"
                                           class="check-box">
                                </div>
                                <div class="row-list-box">
                                    <div class="row-checkbox" *ngFor="let roleCh of role.children">
                                        <label>{{roleCh.name}}</label>
                                        <input type="checkbox"
                                               [checked]=roleCh.isShow
                                               (change)="selectRoleItem($event, roleCh, role)"
                                               class="check-box">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <div class="footer-box">
            <button class="sure" (click)="addRole()">{{cancelBtn?'确定': '新增'}}</button>
            <button class="cancel" (click)="cancel()" *ngIf="cancelBtn">取消</button>
        </div>
    </nb-card-footer>
</nb-card>
