<nb-card>
    <nb-card-header>
        <div class="header-title">
            <div class="header-btn">
                <button class="add" (click)="newRole()">新增</button>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="table-panel">
            <table class="table">
                <thead class="table-head">
                    <tr>
                        <th *ngFor="let list of tableTitle let i = index;"
                            [hidden]="!list.isShowInput"
                            [ngClass]="{inputClass: list.isSelect}">
                            <div class="">
                                <input type="checkbox"
                                       id="all"
                                       *ngIf="list.isSelect"
                                       [checked]=list.isChecked
                                       (change)="selectAll($event)">
                            </div>
                            <div class="table-title">
                                <span>{{list.title}}</span>
                                <span class="icon"
                                      *ngIf="list.sortIcon"
                                      (click)="clickSort()">
                                    <i class="nb-chevron-up"></i>
                                    <i class="nb-chevron-down"></i>
                                </span>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody class="table-body">
                    <tr *ngFor="let item of tableList; let i = index;"
                        [ngClass]="{inputClass: item.isSelect}">
                        <td class="role-name">{{item.name}}</td>
                        <td>{{item.roleName | roleNamePipe}}</td>
                        <td  class="operator" *ngIf="item.isOperation">
                            <span (click)="startEdit(item)">
                                {{item.editButtonText}}
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <div class="pageInfo">
            <div *ngIf="tableList != null || tableList.length !== 0" class="pageNumber">
                共<span>{{totalCount}}</span>条数据
                第<span>{{currPage}}/{{totalPage}}</span>页
            </div>
            <ng-page
                *ngIf="tableList != null && tableList.length"
                [totalPage]="totalPage"
                (changePage)="changePage($event)"
                [(page)]="currPage"
                [pageSize]="pageSize"
                [collectionSize]="totalCount"
                [maxSize]="5"></ng-page>
        </div>
    </nb-card-footer>
</nb-card>
