<nb-card>
    <nb-card-header>
        <div class="header-title">
            <div class="header-input">
                <div class="edit-body">
                    <div class="row">
                        <div class="input-panel">
                            <span class="row-name">订单号</span>
                            <div class="row-input">
                                <input type="text" [(ngModel)]="sn" placeholder="输入订单号">
                            </div>
                        </div>
                        <div class="input-panel">
                            <span class="row-name">代理商</span>
                            <div class="row-input">
                                <input type="text" [(ngModel)]="agentName" placeholder="输入代理商姓名">
                            </div>
                        </div>
                        <div class="input-panel">
                            <span class="row-name">发袋地址</span>
                            <div class="row-input">
                                <input type="text" [(ngModel)]="address" placeholder="输入发袋地址">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-panel">
                            <span class="row-name">购买者</span>
                            <div class="row-input">
                                <input type="text" [(ngModel)]="memberId " placeholder="输入用户编号">
                            </div>
                        </div>
                        <div class="input-panel">
                            <span class="row-name">交易号</span>
                            <div class="row-input">
                                <input type="text" [(ngModel)]="transactionNo " placeholder="输入交易号">
                            </div>
                        </div>
                        <div class="input-panel">
                            <span class="row-name">设备ID</span>
                            <div class="row-input">
                                <input type="text" [(ngModel)]="deviceId " placeholder="输入设备ID">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-panel">
                            <span class="row-name">交易状态</span>
                            <div class="row-input">
                                <select  [(ngModel)]="status">
                                    <option value="" disabled>请选择</option>
                                    <option value="1">未处理</option>
                                    <option value="2">成功</option>
                                    <option value="3">异常</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-btn">
                <button class="search" (click)="searchDeviceOrderList()">搜索</button>
                <button class="export" (click)="exportDeviceExcel()">导出</button>
            </div>
        </div>
    </nb-card-header>
</nb-card>

<nb-card>
    <nb-card-body>
        <div class="table-panel">
            <table class="table">
                <thead class="table-head">
                <tr>
                    <th *ngFor="let list of tableTitle let i = index;"
                        [hidden]="!list.isShowInput"
                        [ngClass]="{inputClass: list.isSelect}">
                        <div class="">
                            <input type="checkbox"
                                   id="all"
                                   *ngIf="list.isSelect"
                                   [checked]=list.isChecked
                                   (change)="selectAll($event)">
                        </div>
                        <div class="table-title">
                            <span>{{list.title}}</span>
                            <span class="icon"
                                  *ngIf="list.sortIcon"
                                  (click)="clickSort()">
                                    <i class="nb-chevron-up"></i>
                                    <i class="nb-chevron-down"></i>
                                </span>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody class="table-body">
                    <tr *ngFor="let item of tableList; let i = index;"
                        [ngClass]="{inputClass: item.isSelect}">
                        <td class="role-name">{{item.sn}}</td>
                        <td>{{item.userName}}</td>
                        <td>{{item.deviceId}}</td>
                        <td class="role-name">{{item.address}}</td>
                        <td>{{item.price}}</td>
                        <td>{{item.profitPercent}}</td>
                        <td>{{item.profitBalance}}</td>
                        <td>{{item.memberId}}</td>
                        <td  class="role-name">{{item.transactionNo}}</td>
                        <td>{{item.createTime}}</td>
                        <td>{{item.status | businessStatus}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <ng-page
            *ngIf="tableList != null && tableList.length"
            [totalPage]="totalPage"
            (changePage)="changePage($event)"
            [(page)]="currPage"
            [pageSize]="pageSize"
            [collectionSize]="totalCount"
            [maxSize]="5"></ng-page>
    </nb-card-footer>
</nb-card>
