@import '../../../@theme/styles/themes';

.area-name{
    align-items: flex-start!important;
}

.row-name{
    i{
        font-size: 1rem;
        color: #ff000e;
    }
}

.agent{
    width: calc(100% - 8rem - 45px) !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    .area-list{
        width: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
    }
    .select-width{
        width: 49%!important;
    }
    .area-box{
        width: 100%;
        max-height: 5rem;
        border: 1px solid #edf1f7;
        margin-top: 3px;
        display: inline-flex;
        justify-content: flex-start;
        align-items: flex-start;
        overflow: auto;
        background: #f7f9fc;
        ul{
            width: 100%;
            list-style: none;
            margin-bottom: 2px;
            li{
                padding: 4px 3px;
                font-size: .8rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                span{
                    display: inline-flex;
                }
                i{
                    margin-left: 10px;
                    font-size: x-large;
                    cursor: pointer;
                }
            }
        }
    }
}

.add-icon{
    width: 37px;
    height: 37px;
    margin-left: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    i{
        font-weight: bold;
        font-size: x-large;
        cursor: pointer;
        width: 22px;
        height: 22px;
        border: 1px solid #b6b6b6;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
}




